.aaa{
    margin-top: 100px;
    display: flex !important;
    background-color:rgb(174, 163, 201);
    flex-direction: row;
    color: rgb(248, 242, 242);
    justify-content: space-around;
}
.roww{
    

    display: flex;
  
   
}


.d-flexx{
    margin: 0;
    padding: 0;
    list-style: none;
 justify-content: space-around;
 display: flex;
}
.widget-list{
    list-style: none; 
}
.widget-title1{
    color:rgb(255,105,0,1) ;
}
.widget-title2{
  color:  #a8ee37;
}
.bloc1 {
    width: 40%
}
.bloc2 {
    width: 30%;
}

.bloc3 {
    width: 30%;
}
